/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
@font-face {
    font-family: 'goldfinger';
    src: url('fonts/GoldfingerKingdom.ttf');
}

.search-box {
    margin-top: 10%;
}

.logoFont {
    font-family: "goldfinger";
    font-size: 6rem;
    text-align: center;
}

.logoFontSmall {
    font-family: "goldfinger";
    font-size: 4rem;
}

.fullSize {
    width: 100%;
}

.results-box {

}

.result-shown {
    margin-top: 0;
}

.result-shown .logoFont {
    font-size: 3rem;
    text-align: left;
}

@media (min-width:320px) and (max-width: 480px) {
    .result-shown .logoFont {
        font-size: 3rem;
        text-align: center;
    }
}

.result-shown .fullSize {
    width: inherit;
    margin-top: auto;
    margin-bottom: auto;
}

.about-text {
    font-size: x-large;
}